<div ncy-breadcrumb></div>

<div class="row">
    <div class="col-sm-8">
        <div class="well well-sm">
            <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
                <!-- Manually hide the alert with `hide()` -->
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <span class="alert-message" data-ng-bind-html="flash.message"></span>
            </div>

            <div ng-if="(user.roles | contains:'ROLE_TAXONOMY_EDIT') == false" ng-include="'App/Taxonomy/tpl/ask-edit-access.html'"></div>

            <div>
                <div class="pull-right" ng-if="user.roles | contains:'ROLE_TAXONOMY_EDIT'">
                    <a class="btn btn-default btn-sm" ui-sref="transcript.app.taxonomy.edit({type: entity.dataType, id: entity.id})"><i class="fa fa-edit"></i> Modifier</a>
                </div>
                <h1>{{ entity.name }}</h1>
            </div>

            <div data-ng-if="entity.dataType == 'places' && entity.geographical_coordinates != null">
                <leaflet markers="markers" tiles="tiles" lf-center="center" height="250px" width="100%"></leaflet>
                <br />
            </div>

            <div>
                <div data-ng-if="entity.dataType == 'testators'" data-ng-include="'App/Taxonomy/View/tpl/testator-metadata.html'"></div>
                <div data-ng-if="entity.dataType == 'places'" data-ng-include="'App/Taxonomy/View/tpl/place-metadata.html'"></div>
                <div data-ng-if="entity.dataType == 'regiments'" data-ng-include="'App/Taxonomy/View/tpl/regiment-metadata.html'"></div>
            </div>
            <div class="well" data-ng-if="entity.description != '' && entity.description != null">
                {{ entity.description }}
            </div>
        </div>
    </div>
    <div class="col-sm-4" data-ng-include="'App/Taxonomy/tpl/entities.html'"></div>
</div>