<label>À propos du testament</label>

<div class="form-group">
    <label for="admin-entity-edit-will-callNumber" class="control-label col-sm-6">Côte :</label>
    <div class="col-sm-6">
        <input id="admin-entity-edit-will-callNumber" class="form-control" data-ng-model="entity.will.callNumber" />
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-minuteLink" class="control-label col-sm-6">Lien vers la minute :</label>
    <div class="col-sm-6">
        <input id="admin-entity-edit-will-minuteLink" type="url" class="form-control" data-ng-model="entity.will.minuteLink" />
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-minuteDate" class="control-label col-sm-6">Date de la minute :</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input id="admin-entity-edit-will-minuteDate" class="form-control datepicker" data-ng-model="entity.will.minuteDate" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-willWritingDate" class="control-label col-sm-6">Date d'écriture du testament :</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input id="admin-entity-edit-will-willWritingDate" class="form-control datepicker" data-ng-model="entity.will.willWritingDate" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-willWritingPlace" class="control-label col-sm-6">Lieu d'écriture du testament :</label>
    <div class="col-sm-6">
        <uib-tabset active="activeWillWritingPlace" justified="true">
            <uib-tab index="0" heading="List">
                <div class="well">
                    <select class="form-control" id="admin-entity-edit-will-willWritingPlace" data-ng-model="entity.will.willWritingPlace" name="admin-entity-edit-will-willWritingPlace" data-ng-options="place.id as place.name for place in places"></select>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="New">
                <div class="well">
                    <div class="form-group">
                        <label for="admin-entity-edit-will-willWritingPlace-name" class="control-label col-sm-3">Nom :</label>
                        <div class="col-sm-9">
                            <input id="admin-entity-edit-will-willWritingPlace-name" class="form-control" data-ng-model="entity.will.willWritingPlace.name" />
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="form-group" data-ng-include="'Admin/Entity/Import/tpl/import-will-testator.html'"></div>
<div class="form-group">
    <label for="admin-entity-edit-will-physDescSupport" class="control-label col-sm-6">Support physique :</label>
    <div class="col-sm-6">
        <input id="admin-entity-edit-will-physDescSupport" class="form-control" data-ng-model="entity.will.physDescSupport" />
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-physDescHeight" class="control-label col-sm-6">Hauteur :</label>
    <div class="col-sm-6">
        <input id="admin-entity-edit-will-physDescHeight" class="form-control" data-ng-model="entity.will.physDescHeight" />
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-physDescWidth" class="control-label col-sm-6">Largeur :</label>
    <div class="col-sm-6">
        <input id="admin-entity-edit-will-physDescWidth" class="form-control" data-ng-model="entity.will.physDescWidth" />
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-physDescHand" class="control-label col-sm-6">Type d'écriture :</label>
    <div class="col-sm-6">
        <input id="admin-entity-edit-will-physDescHand" class="form-control" data-ng-model="entity.will.physDescHand" />
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-hostingOrganization" class="control-label col-sm-6">Organisation (AN ou AD78) :</label>
    <div class="col-sm-6">
        <select id="admin-entity-edit-will-hostingOrganization" name="admin-entity-edit-will-hostingOrganization" class="form-control" data-ng-model="entity.will.hostingOrganization">
            <option value="" disabled>Sélectionnez ...</option>
            <option value="AN">Archives nationales</option>
            <option value="AD78">Archives départementales des Yvelines</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label for="admin-entity-edit-will-identificationUser" class="control-label col-sm-6">Personne ayant identifié le document :</label>
    <div class="col-sm-6">
        <input id="admin-entity-edit-will-identificationUser" class="form-control" data-ng-model="entity.will.identificationUser" />
    </div>
</div>