<div class="pull-right">
    <button class="btn btn-secondary" title="Suppression de la ressource {{ $index+1 }}"><i class="fa fa-remove"></i></button>
</div>
<h3>Ressource {{ $index+1 }}</h3>
<div class="form-group row">
    <label for="admin-entity-edit-resource-type" class="col-md-4 col-form-label text-md-right">Type de ressource</label>
    <div class="col-md-8">
        <select id="admin-entity-edit-resource-type" name="admin-entity-edit-resource-type" class="custom-select" data-ng-model="resource.type" required>
            <option value="" disabled>Sélectionnez ...</option>
            <option value="page">Page</option>
            <option value="envelop">Enveloppe</option>
            <option value="codicil">Codicille</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-resource-orderInWill" class="col-md-4 col-form-label text-md-right">Index de la ressource dans le testament</label>
    <div class="col-md-4">
        <input type="number" id="admin-entity-edit-resource-orderInWill" class="form-control form-control-sm" data-ng-model="resource.orderInWill" required />
    </div>
    <div class="col-md-2">
        <p class="form-control-static">/</p>
    </div>
    <div class="col-md-2">
        <p class="form-control-static">{{ entity.resources.length }}</p>
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-resource-image" class="col-md-4 col-form-label text-md-right">Identifiants des images</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-resource-image" class="form-control form-control-sm" data-ng-model="resource.images"  />
        <small  class="form-text text-muted">Identifiants des images de la ressource, séparés par des virgules. Ex: 02a, 02b, 02c</small>
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-resource-notes" class="col-md-4 col-form-label text-md-right">Notes (de numérisation ou autre)</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-resource-notes" class="form-control form-control-sm" data-ng-model="resource.notes" />
    </div>
</div>
