<label>À propos des ressources</label>

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <p>L'entité compte actuellement {{ entity.resources.length }} ressources. <a data-ng-click="form.addResource(entity.resources.length)">Cliquez pour ajouter une ressource</a></p>
        </div>
    </div>
</div>
<div class="row" data-ng-repeat="resource in entity.resources">
    <div class="col-sm-12" data-ng-include="'Admin/Entity/Import/tpl/import-resources-resource.html'"></div>
</div>