<div class="form-group row">
    <label for="admin-entity-edit-will-testator-name" class="col-md-4 col-form-label text-md-right">Nom</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-name" class="form-control form-control-sm" data-ng-model="entity.will.testator.name" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-surname" class="col-md-4 col-form-label text-md-right">Nom de famille</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-surname" class="form-control form-control-sm" data-ng-model="entity.will.testator.surname" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-firstnames" class="col-md-4 col-form-label text-md-right">Prénoms</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-firstnames" class="form-control form-control-sm" data-ng-model="entity.will.testator.firstnames" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-profession" class="col-md-4 col-form-label text-md-right">Profession</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-profession" class="form-control form-control-sm" data-ng-model="entity.will.testator.profession" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-address" class="col-md-4 col-form-label text-md-right">Adresse</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-address" class="form-control form-control-sm" data-ng-model="entity.will.testator.address" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-dateOfBirth" class="col-md-4 col-form-label text-md-right">Date de naissance</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-dateOfBirth" class="form-control form-control-sm" data-ng-model="entity.will.testator.dateOfBirth" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-placeOfBirth" class="col-md-4 col-form-label text-md-right">Lieu de naissance</label>
    <div class="col-md-8">
        <uib-tabset active="activeTestatorPlaceOfBirth" class="nav-fill nav-pills" justified="true">
            <uib-tab index="0" heading="List">
                <select class="custom-select col-md-12" id="admin-entity-edit-will-testator-placeOfBirth" data-ng-model="entity.will.testator.placeOfBirth" name="admin-entity-edit-will-testator-placeOfBirth" data-ng-options="place.id as place.name for place in places"></select>
            </uib-tab>
            <uib-tab index="1" heading="New">
                <div class="form-group row">
                    <label for="admin-entity-edit-will-testator-placeOfBirth-name" class="col-md-2 col-form-label">Nom</label>
                    <div class="col-md-10">
                        <input id="admin-entity-edit-will-testator-placeOfBirth-name" class="form-control form-control-sm" data-ng-model="entity.will.testator.placeOfBirth.name" />
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-dateOfDeath" class="col-md-4 col-form-label text-md-right">Date de décès</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-dateOfDeath" class="form-control form-control-sm" data-ng-model="entity.will.testator.dateOfDeath" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-placeOfDeath" class="col-md-4 col-form-label text-md-right">Lieu de décès</label>
    <div class="col-md-8">
        <uib-tabset active="activeTestatorPlaceOfDeath" class="nav-fill nav-pills" justified="true">
            <uib-tab index="0" heading="List">
                <select class="custom-select col-md-12" id="admin-entity-edit-will-testator-placeOfDeath" data-ng-model="entity.will.testator.placeOfDeath" name="admin-entity-edit-will-testator-placeOfDeath" data-ng-options="place.id as place.name for place in places"></select>
            </uib-tab>
            <uib-tab index="1" heading="New">
                <div class="form-group row">
                    <label for="admin-entity-edit-will-testator-placeOfDeath-name" class="col-md-2 col-form-label">Nom</label>
                    <div class="col-md-10">
                        <input id="admin-entity-edit-will-testator-placeOfDeath-name" class="form-control form-control-sm" data-ng-model="entity.will.testator.placeOfDeath.name" />
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-deathMention" class="col-md-4 col-form-label text-md-right">Mention de mort</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-deathMention" class="form-control form-control-sm" data-ng-model="entity.will.testator.deathMention" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-memoireDesHommes" class="col-md-4 col-form-label text-md-right">Lien vers Mémoire des Hommes</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-memoireDesHommes" class="form-control form-control-sm" data-ng-model="entity.will.testator.memoireDesHommes" />
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-military-unit" class="col-md-4 col-form-label text-md-right">Unité militaire</label>
    <div class="col-md-8">
        <uib-tabset active="activeTestatorMilitaryUnit" class="nav-fill nav-pills" justified="true">
            <uib-tab index="0" heading="List">
                <select class="custom-select col-md-12" id="admin-entity-edit-will-testator-military-unit" data-ng-model="entity.will.testator.militaryUnit" name="admin-entity-edit-will-testator-military-unit" data-ng-options="militaryUnit.id as militaryUnit.name for militaryUnit in militaryUnits"></select>
            </uib-tab>
            <uib-tab index="1" heading="New">
                <div class="form-group row">
                    <div class="form-group row">
                        <label for="admin-entity-edit-will-testator-military-unit-name" class="col-md-2 col-form-label">Nom</label>
                        <div class="col-md-10">
                            <input id="admin-entity-edit-will-testator-military-unit-name" class="form-control form-control-sm" data-ng-model="entity.will.testator.militaryUnit.name" />
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="form-group row">
    <label for="admin-entity-edit-will-testator-rank" class="col-md-4 col-form-label text-md-right">Rang</label>
    <div class="col-md-8">
        <input id="admin-entity-edit-will-testator-rank" class="form-control form-control-sm" data-ng-model="entity.will.testator.rank" />
    </div>
</div>
