<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading">Formulaire de contact</h1>
    <div class="row">
        <div class="col-xl-10 col-12">
            <form class="mt-2 mb-5">
                <div class="form-group row">
                    <label for="app-contact-name" class="col-md-3 col-form-label text-md-right">Votre nom</label>
                    <div class="col-md-9">
                        <input id="app-contact-name" class="form-control form-control-sm" data-ng-model="contact.name" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="app-contact-email" class="col-md-3 col-form-label text-md-right">Votre email</label>
                    <div class="col-md-9">
                        <input id="app-contact-email" type="email" class="form-control form-control-sm" data-ng-model="contact.email" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="app-contact-object" class="col-md-3 col-form-label text-md-right">Objet de votre message</label>
                    <div class="col-md-9">
                        <input id="app-contact-object" class="form-control form-control-sm" data-ng-model="contact.object" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="app-contact-message" class="col-md-3 col-form-label text-md-right">Message</label>
                    <div class="col-md-9">
                        <textarea id="app-contact-message" class="form-control form-control-sm" data-ng-model="contact.message" required></textarea>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-12">
                        <button class="btn btn-sm btn-primary" type="button" data-ng-click="submit.action()">Envoyer <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i><i data-ng-if="submit.loading == false" class="fa fa-send"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
