<h1 class="page-heading"><i class="fa fa-search" aria-hidden="true"></i>Rechercher des testaments</h1>
<form id="search-form">
    <div class="row">
        <div class="form-group col-md-6">
            <label class="form-control-label">Nom du testateur</label>
            <angucomplete id="app-search-form-testator-name"
                          placeholder=""
                          pause="100"
                          selectedobject="search.form.will.testator.name"
                          localdata="search.values.will.testator.name"
                          searchfields="name"
                          titlefield="name"
                          minlength="1"
                          inputclass="form-control form-control-sm"/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label">Lieu de décès</label>
            <angucomplete id="app-search-form-testator-deathPlace"
                          placeholder=""
                          pause="100"
                          selectedobject="search.form.will.testator.placeOfDeath.name"
                          localdata="search.values.will.testator.placeOfDeath.name"
                          searchfields="name"
                          titlefield="name"
                          minlength="1"
                          inputclass="form-control form-control-sm"/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label">Année de décès</label>
            <angucomplete id="app-search-form-testator-deathDate"
                          placeholder=""
                          pause="100"
                          selectedobject="search.form.will.testator.yearOfDeath"
                          localdata="search.values.will.testator.yearOfDeath"
                          searchfields="name"
                          titlefield="name"
                          minlength="1"
                          inputclass="form-control form-control-sm"/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label">Commune d'origine</label>
            <angucomplete id="app-search-form-testator-birthPlace"
                          placeholder=""
                          pause="100"
                          selectedobject="search.form.will.testator.placeOfBirth.name"
                          localdata="search.values.will.testator.placeOfBirth.name"
                          searchfields="name"
                          titlefield="name"
                          minlength="1"
                          inputclass="form-control form-control-sm"/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label">Institution de conservation</label>
            <angucomplete id="app-search-form-institution"
                          placeholder=""
                          pause="100"
                          selectedobject="search.form.will.hostingOrganization"
                          localdata="search.values.will.hostingOrganization"
                          searchfields="name"
                          titlefield="name"
                          minlength="1"
                          inputclass="form-control form-control-sm"/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label">Cote du testament</label>
            <input id="app-search-form-will-callNumber"
                   placeholder=""
                   ng-model="search.form.will.callNumber"
                   class="form-control form-control-sm" />
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label">Date d'écriture du testament</label>
            <angucomplete id="app-search-form-will-date"
                          placeholder=""
                          pause="100"
                          selectedobject="search.form.will.willWritingYear"
                          localdata="search.values.will.willWritingYear"
                          searchfields="name"
                          titlefield="name"
                          minlength="1"
                          inputclass="form-control form-control-sm"/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label">Statut de la transcription</label>
            <div class="row">
                <div class="col-xl-6 pr-0">
                    <label class="custom-control custom-checkbox text-danger">
                        <input class="custom-control-input" id="app-search-form-transcription-status" ng-model="search.filters.status.todo"  type="checkbox" value="todo"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">à faire</span>
                    </label>
                </div>
                <div class="col-xl-6">
                    <label class="custom-control custom-checkbox text-warning">
                        <input class="custom-control-input" id="app-search-form-transcription-status" ng-model="search.filters.status.transcription"  type="checkbox" value="transcription"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">en cours</span>
                    </label>
                </div>
                <div class="col-xl-6 pr-0">
                    <label class="custom-control custom-checkbox text-secondary">
                        <input class="custom-control-input" id="app-search-form-transcription-status" ng-model="search.filters.status.validation"  type="checkbox" value="validation" />
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"> en validation</span>
                    </label>
                </div>
                <div class="col-xl-6">
                    <label class="custom-control custom-checkbox text-success">
                        <input class="custom-control-input" id="app-search-form-transcription-status" ng-model="search.filters.status.validated"  type="checkbox" value="validated" />
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">validé</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i class="fa fa-close" aria-hidden="true"></i> Effacer</a>
            <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i class="fa fa-check" aria-hidden="true"></i> Valider</a>
        </div>
    </div>
</form>
<div class="mt-4"><leaflet id="searchInterfaceMap" legend="legend" markers="markers" tiles="tiles" lf-center="center" data-height="400px" data-width="100%"></leaflet></div>