<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>
<main class="container" role="main">
    <div class="row">
        <div class="col-lg-10 col-12">
            <h1 class="page-heading">Mes messages</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Correspondant</th>
                    <th>Dernier message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="thread in threads">
                    <td>{{ $index+1 }}</td>
                    <td><a ui-sref="transcript.app.user.profile({id: thread.recipient.id})" title="Accéder au profil de {{ thread.recipient.name }}">{{ thread.recipient.name }}</a></td>
                    <td><a ui-sref="transcript.app.user.private-message.thread({idUser: iUser.id, idRecipient: thread.recipient.id})" title="Accéder au fil de discussion">{{ thread.lastCommentAt | date:'dd-MM-yyyy à HH:mm' }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>