<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>
<main class="container" role="main">
    <h1 class="page-heading">Liste des entités</h1>
    <div class="alert alert-warning" data-ng-if="entities.length == 0">
        <h3>Aucune entité</h3>
        <p>Aucune entité n'est présente pour le moment dans la base de données.</p>
    </div>
    <ul>
        <li data-ng-repeat="entity in entities"><a ui-sref="transcript.app.entity({id: entity.id})">{{ entity.will.title }}</a></li>
    </ul>
</main>