<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>
<main class="container" role="main">
    <h1 class="page-heading">Liste des entités</h1>
    <div class="alert alert-warning" data-ng-if="entities.length == 0">
        <h3>Aucune entité</h3>
        <p>Aucune entité n'est présente pour le moment dans la base de données.</p>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th><a ng-click="entitiesSorting = 'willNumber'" title="Trier par numéro d'identification du testament">IdNum <i class="fa fa-caret-down"></i></a></th>
            <th><a ng-click="entitiesSorting = 'will.hostingOrganization'" title="Trier par institution de conservation">Institution <i class="fa fa-caret-down"></i></a></th>
            <th><a ng-click="entitiesSorting = 'will.title'" title="Trier par titre du testament">Titre <i class="fa fa-caret-down"></i></a></th>
            <th><a ng-click="entitiesSorting = 'will.willWritingYear'" title="Trier par année de rédaction du testament">Rédaction <i class="fa fa-caret-down"></i></a></th>
            <th><a ng-click="entitiesSorting = 'will.testator.surname'" title="Trier par nom de famille du testateur">Testateur <i class="fa fa-caret-down"></i></a></th>
            <th><a ng-click="entitiesSorting = '_embedded.status'" title="Trier par statut de la transcription">Statut <i class="fa fa-caret-down"></i></a></th>
        </tr>
        <tr data-ng-repeat="entity in entities|orderBy:entitiesSorting">
            <td>{{ $index+1 }}</td>
            <td>{{ entity.willNumber }}</td>
            <td>{{ entity.will.hostingOrganization }}</td>
            <td><a ui-sref="transcript.app.entity({id: entity.id})">{{ entity.will.title }}</a></td>
            <td>{{ entity.will.willWritingDate }}</td>
            <td>{{ entity.will.testator.name }}</td>
            <td><span class="badge badge-status" data-ng-class="getStatusClassLabel(entity._embedded.status)">{{ entity._embedded.status | transcriptionStatusName }}</span></td>
        </tr>
    </table>
</main>