<div class="row">
    <div class="col-sm-4" data-ng-include="'App/Thesaurus/tpl/entities.html'"></div>
    <div class="col-sm-8">
        <div class="jumbotron text-center">
            <div class="pull-right">
                <a class="btn btn-primary" ui-sref="app.thesaurus.edit({type: entity.dataType, id: entity.id})">Edit</a>
            </div>
            <div>
                <h2>{{ entity.name }}</h2>
                <p data-ng-if="entity.dataType == 'places'">
                    <strong>
                        <span data-ng-if="entity.french_departement != null">{{ entity.french_departement }}</span><!--
                        --><span data-ng-if="entity.french_region != null"><span data-ng-if="entity.french_departement != null">, </span>{{ entity.french_region }}</span><!--
                        --><span data-ng-if="entity.country != null"><span data-ng-if="entity.french_departement != null || entity.french_region != null">, </span>{{ entity.country }}</span>
                    </strong>
                </p>
            </div>
        </div>
        <div ncy-breadcrumb></div>

        <div data-ng-if="entity.dataType == 'places' && entity.geographical_coordinates != null">
            <leaflet markers="markers" tiles="tiles" lf-center="center" height="250px" width="100%"></leaflet>
        </div>

        <div flash-alert active-class="in alert" class="fade" duration="10000">
            <!-- Manually hide the alert with `hide()` -->
            <button type="button" class="close" ng-click="hide()">&times;</button>
            <span class="alert-message" data-ng-bind-html="flash.message"></span>
        </div>

        <div>
            <div data-ng-if="entity.dataType == 'testators'" data-ng-include="'App/Thesaurus/View/tpl/testator-metadata.html'"></div>
            <div data-ng-if="entity.dataType == 'places'" data-ng-include="'App/Thesaurus/View/tpl/place-metadata.html'"></div>
            <div data-ng-if="entity.dataType == 'regiments'" data-ng-include="'App/Thesaurus/View/tpl/regiment-metadata.html'"></div>
        </div>
        <div class="well" data-ng-if="entity.description != '' && entity.description != null">
            {{ entity.description }}
        </div>
    </div>
</div>