<div ncy-breadcrumb></div>

<div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
    <!-- Manually hide the alert with `hide()` -->
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message" data-ng-bind-html="flash.message"></span>
</div>

<div ng-if="user !== undefined && (user.roles | contains:'ROLE_THESAURUS_EDIT') == false" ng-include="'App/Thesaurus/tpl/ask-edit-access.html'"></div>

<div>
    <h1>Documenter</h1>

    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <h3>Testataires</h3>
                <p><a ui-sref="app.thesaurus.list({type: 'testators'})">Accéder à la liste des testataires</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <h3>Lieux</h3>
                <p><a ui-sref="app.thesaurus.list({type: 'places'})">Accéder à la liste des lieux</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <h3>Régiments</h3>
                <p><a ui-sref="app.thesaurus.list({type: 'regiments'})">Accéder à la liste des régiments</a></p>
            </div>
        </div>
    </div>
</div>