<div ncy-breadcrumb></div>

<div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
    <!-- Manually hide the alert with `hide()` -->
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message" data-ng-bind-html="flash.message"></span>
</div>

<div class="well well-sm">
    <h1>Réinitialisation du mot de passe</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="app-security-resetting-email" class="control-label col-sm-3">Votre email</label>
            <div class="col-sm-9">
                <input type="email" placeholder="Votre email" id="app-security-resetting-email" name="app-security-resetting-email" data-ng-model="form.email" required="required" class="form-control" />
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" data-ng-click="submit.action()">Soumettre <i class="fa fa-spin fa-circle-o-notch" data-ng-if="submit.loading == true"></i></button>
        </div>
    </form>
</div>