h1 {
    display: inline;
    font-size: 1.2em;
    margin: 0 0 0 20px;
}

h1 a, h1 a:hover, h1 a:focus {
    color: #FFF;
    text-decoration: none;
}

.navbar-inverse {
    border-radius: 0 !important;
}