h1 {
    display: inline;
    font-size: 1.2em;
    margin: 0 0 0 20px;
}

h1 a, h1 a:hover, h1 a:focus {
    color: #FFF;
    text-decoration: none;
}

.navbar-inverse {
    border-radius: 0 !important;
}

.alert-in-block {
    border-radius: 0;
    margin-bottom: 0;
}

.alert-sm {
    padding: 5px 10px;
    margin-bottom: -1px;
    font-size: 85%;
}

.no-padding {
    padding: 0;
}

.no-padding-v {
    padding-top: 0;
    padding-bottom: 0;
}

.no-padding-h {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}

.no-margin {
    margin: 0;
}

.no-margin-v {
    margin-top: 0;
    margin-bottom: 0;
}

.no-margin-h {
    margin-left: 0;
    margin-right: 0;
}

.h100 {
    height: 100%;
}

.btn-h100 {
    height: 100%;
}

.btn-no-radius {
    border-radius: 0;
}

.row-h100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row-h100 > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.border {
    border: solid 1px #CCC;
}
