<div class="list-group">
    <dl class="dl-horizontal list-group-item">
        <dt>Localisation</dt>
        <dd>
            <span data-ng-if="entity.french_departement != null">{{ entity.french_departement }}</span><!--
                        --><span data-ng-if="entity.french_region != null"><span data-ng-if="entity.french_departement != null">, </span>{{ entity.french_region }}</span><!--
                        --><span data-ng-if="entity.country != null"><span data-ng-if="entity.french_departement != null || entity.french_region != null">, </span>{{ entity.country }}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal list-group-item">
        <dt>Identifiant Geonames</dt>
        <dd>
            <a ng-if="entity.geonames_id != null" href="http://sws.geonames.org/{{ entity.geonames_id }}" target="_blank">{{ entity.geonames_id }}</a>
            <span ng-if="entity.geonames_id == null"><em>No data</em></span>
        </dd>
    </dl>
    <dl class="dl-horizontal list-group-item">
        <dt>Coordonnées géographiques</dt>
        <dd>
            <a ng-if="entity.geographical_coordinates != null" href="https://www.openstreetmap.org/#map=12/{{ entity.geographical_coordinates.replace('+', '/') }}" target="_blank">
                {{ entity.geographical_coordinates }}
            </a>
            <span ng-if="entity.geographical_coordinates == null"><em>No data</em></span>
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-3" data-ng-repeat="testator in entity._embedded.testators">
        <div class="thumbnail">
            <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" >
                <img src="./web/images/no-images.png" class="img-250" />
            </a>
            <div class="caption">
                <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" ><strong>{{ testator.name }}</strong></a>
            </div>
        </div>
    </div>
</div>