<dl class="row pr-3 ml-1">
    <dt class="col-sm-4">Localisation</dt>
    <dd class="col-sm-8">
        <span data-ng-if="entity.frenchDepartement != null">{{ entity.frenchDepartement }}</span>
        <span data-ng-if="entity.frenchRegion != null"><span data-ng-if="entity.frenchDepartement != null">, </span>{{ entity.frenchRegion }}</span>
        <span data-ng-if="entity.country != null"><span data-ng-if="entity.frenchDepartement != null || entity.frenchRegion != null">, </span>{{ entity.country }}</span>
    </dd>

    <dt class="col-sm-4">Identifiant Geonames</dt>
    <dd class="col-sm-8">
        <a ng-if="entity.geonamesId != null" href="http://sws.geonames.org/{{ entity.geonamesId }}" target="_blank">{{ entity.geonamesId }}</a>
        <span ng-if="entity.geonamesId == null"><em>No data</em></span>
    </dd>

    <dt class="col-sm-4">Coordonnées géographiques</dt>
    <dd class="col-sm-8">
        <a ng-if="entity.geographicalCoordinates != null" href="https://www.openstreetmap.org/#map=12/{{ entity.geographicalCoordinates.replace('+', '/') }}" target="_blank">
            {{ entity.geographicalCoordinates }}
        </a>
        <span ng-if="entity.geographicalCoordinates == null"><em>No data</em></span>
    </dd>
</dl>
<div class="row mb-4">
    <div class="col-md-3 col-6">
        <div class="img-thumbnail">
            <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" >
                <img src="./web/images/default-testator.png" class="img-fluid" />
            </a>
            <div class="caption">
                <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" ><strong>{{ testator.name }}</strong></a>
            </div>
        </div>
    </div>
</div>