<div class="row">
    <div class="col-md-3" data-ng-repeat="testator in entity._embedded.testators">
        <div class="thumbnail">
            <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" >
                <img src="./web/images/no-images.png" class="img-250" />
            </a>
            <div class="caption">
                <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" ><strong>{{ testator.name }}</strong></a>
            </div>
        </div>
    </div>
</div>