<div class="row mb-4" >
    <div class="col-md-4"></div>
    <div class="col-md-2"><img class="img-fluid" src="./web/images/default-testator.png"/></div>
</div>
<dl class="row pr-3 ml-1">
    <dt class="col-sm-4">Nom complet</dt>
    <dd class="col-sm-8">{{ entity.name }}</dd>

    <dt class="col-sm-4">Nom de famille</dt>
    <dd class="col-sm-8">{{ entity.surname }}</dd>

    <dt class="col-sm-4">Prénoms</dt>
    <dd class="col-sm-8">{{ entity.firstnames }}</dd>

    <dt class="col-sm-4">Profession</dt>
    <dd class="col-sm-8">{{ entity.profession }}</dd>

    <dt class="col-sm-4">Adresse</dt>
    <dd class="col-sm-8">{{ entity.address }}</dd>

    <dt class="col-sm-4">Naissance</dt>
    <dd class="col-sm-8">{{ entity.dateOfBirth | date:'dd-MM-yyyy'}} à <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: entity.placeOfBirth.id})">{{ entity.placeOfBirth.name }}</a></dd>

    <dt class="col-sm-4">Décès</dt>
    <dd class="col-sm-8">{{ entity.dateOfDeath | date:'dd-MM-yyyy' }} à <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: entity.placeOfDeath.id})">{{ entity.placeOfDeath.name }}</a></dd>

    <dt class="col-sm-4">Mention</dt>
    <dd class="col-sm-8">{{ entity.deathMention }}</dd>

    <dt class="col-sm-4">Grade</dt>
    <dd class="col-sm-8">{{ entity.rank }}, <a ui-sref="transcript.app.taxonomy.view({type: 'regiments', id: entity.regiment.id})">{{ entity.regiment.name }}</a></dd>
</dl>

<div class="row mt-4">
    <div class="col-md-12 ml-2">
        <h4 class="mb-1"><strong>Mémoire des hommes</strong></h4>
        <p><i class="fa fa-angle-right" aria-hidden="true"></i><a href="{{ entity.memoireDesHommes }}">Voir la fiche sur Mémoire des hommes</a></p>
    </div>
</div>