<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>
<main class="container" role="main">
    <h1 class="page-heading">Liste des utilisateurs</h1>
    <table class="table table-bordered">
        <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        </thead>
        <tr data-ng-repeat="user in users">
            <td>{{ $index+1 }}</td>
            <td><a ui-sref="transcript.admin.user.view({id: user.id})">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
            <td><span data-ng-repeat="role in user.roles"><span data-ng-if="$first == false">, </span>{{ role }}</span></td>
        </tr>
    </table>
</main>