

/* Editing page */
#transcriptContainer #transcript-workarea #transcript-edit {
    /*     These properties care for modal management */
    position:relative;
}
/* Full screen management */
#transcriptContainerFullScreen:fullscreen .h-100 {
    height: 100%;
}
#transcriptContainerFullScreen:-moz-full-screen .h-100{
    height: 100%;
}
#transcriptContainerFullScreen:-ms-fullscreen .h-100 {
    height: 100%;
}
#transcriptContainerFullScreen:-webkit-full-screen .h-100 {
    height: 100%;
}


#transcriptContainer #transcript-workarea #transcript-edit #transcript-edit-editor #transcript-edit-editor-ace #transcript-edit-editor-ace-area:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: 0 0;
}

/* Live encoder rules */
#div-container-encode p {
    border-left: solid 2px #000;
    padding-left: 10px;
}
#div-container-encode div.tei-header {
    font-size: 105%;
    font-weight: 500;
}
#div-container-encode div.dateline {
    font-style: italic;
    text-align: right;
}
#div-container-encode span.underlined {
    text-decoration: underline;
}
#div-container-encode span.sup {
    font-size: 80%;
    position: relative;
    top: -0.5em;
}

/* -- Right menu management -- */
#transcript-edit-editor-ace-area-rmenu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* -- Right menu management -- */
#transcript-edit-editor-ace-area-rmenu ul {
    padding: 0;
    margin: 0;
}

/*
 Each of the items in the list */
#transcript-edit-editor-ace-area-rmenu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

#transcript-edit-editor-ace-area-rmenu li:hover {
    background-color: #DEF;
}

.red {
    color:#bb1026;
}