<nav class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" id="home-logo">
            <h1><a ui-sref="app.home">TranscriptionDesk</a></h1>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul data-ng-if="user != null" class="nav navbar-nav navbar-right">
            <li><a ui-sref="admin.home" class="text-muted">Admin</a></li>
            <li><a ui-sref="app.user.profile" class="text-muted">{{ user.email }}</a></li>
        </ul>
        <ul data-ng-if="user == null" class="nav navbar-nav navbar-right">
            <li><a ui-sref="app.security.login" class="text-muted">Connexion</a></li>
            <li><a ui-sref="app.security.register" class="text-muted">Inscription</a></li>
        </ul>
    </div>
</nav>