<div class="row">
    <div class="col-sm-4" data-ng-include="'App/Thesaurus/tpl/entities.html'"></div>
    <div class="col-sm-8">
        <div class="jumbotron text-center">
            <h2 ng-if="entity.name != null">{{ entity.name }}</h2>
            <h2 ng-if="entity.name == null">Nouvelle entrée pour le thésaurus "{{ entity.dataType }}"</h2>
        </div>
        <div ncy-breadcrumb></div>

        <div data-ng-if="entity.dataType == 'places'" class="well">
            <div>
                <div class="pull-right">
                    <small><a href="http://www.geonames.org/" target="_blank">Je préfère l'interface visuelle <i class="fa fa-external-link"></i></a></small>
                </div>
                <h3>Faire une recherche sur Geonames : <small>(option avancée)</small></h3>
            </div>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-12 sr-only">Nom du lieu</label>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input id="app-thesaurus-edit-places-geonames" placeholder="Name of the place" ng-model="geonames.keywords" class="form-control form-control-small" />
                            <span class="input-group-btn">
                                <button ng-click="geonames.action()" class="btn btn-default" type="button"><i data-ng-if="geonames.loading == false" class="fa fa-search"></i><i data-ng-if="geonames.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-if="geonames.result != null">
                <pre ng-bind="geonames.result | json"></pre>
            </div>
        </div>

        <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
            <!-- Manually hide the alert with `hide()` -->
            <button type="button" class="close" ng-click="hide()">&times;</button>
            <span class="alert-message" data-ng-bind-html="flash.message"></span>
        </div>

        <form class="form-horizontal">
            <div class="well">
                <div data-ng-if="entity.dataType == 'testators'" data-ng-include="'App/Thesaurus/tpl/form-testator.html'"></div>
                <div data-ng-if="entity.dataType == 'places'" data-ng-include="'App/Thesaurus/tpl/form-place.html'"></div>
                <div data-ng-if="entity.dataType == 'regiments'" data-ng-include="'App/Thesaurus/tpl/form-regiment.html'"></div>
            </div>
        </form>

        <div class="panel panel-danger" data-ng-if="user.isAdmin == true">
            <div class="panel-heading">
                <h3 class="panel-title">Danger area</h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Remove entity:</dt>
                    <dd><button class="btn btn-danger" data-mw-confirm-click="remove.action()" data-mw-confirm-click-message="Êtes-vous sûr de vouloir supprimer cette entité ?">Remove <i class="fa fa-remove" data-ng-if="remove.loading == false"></i><i class="fa fa-spin fa-circle-o-notch" data-ng-if="remove.loading == true"></i></button></dd>
                </dl>
            </div>
        </div>
    </div>
</div>