<div class="row">
    <div class="col-sm-8">
        <div ncy-breadcrumb></div>

        <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
            <!-- Manually hide the alert with `hide()` -->
            <button type="button" class="close" ng-click="hide()">&times;</button>
            <span class="alert-message" data-ng-bind-html="flash.message"></span>
        </div>

        <div class="jumbotron text-center">
            <h1>Sélectionnez votre entrée dans la liste</h1>
            <p ng-if="user.roles | contains:'ROLE_THESAURUS_EDIT'"><a ui-sref="app.thesaurus.create({type: entity.dataType})">Insérer une nouvelle entrée</a></p>
        </div>
    </div>
    <div class="col-sm-4" data-ng-include="'App/Thesaurus/tpl/entities.html'"></div>
</div>