<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <div ng-include="'Admin/Training/View/tpl/view-header.html'"></div>
    <div class="row">
        <div class="col-xl-8 col-12">
            <h2>Contenu de la page</h2>
            <div ng-bind-html="trainingContent.content"></div>

            <div ng-if="trainingContent.videoContainer != null">
                <hr />
                <div class="text-center" ng-bind-html="trainingContent.videoContainer | trustAsHtml"></div>
            </div>

            <hr />
            <h2>Fil de discussion associé</h2>
            <div ui-view="comment"></div>
        </div>
        <div class="col-xl-4 col-12">
            <div ng-include="'Admin/Training/View/tpl/view-associate-medias.html'"></div>

            <div class="card-deck mt-5" data-ng-if="content.id !== null" >
                <div class="card bg-info mb-3 mt-4">
                    <h2 class="card-header bg-dark text-white">Informations</h2>
                    <div class="card-body">
                        <dl class="row pr-3 ml-1">
                            <dt class="col-sm-4">Type</dt>
                            <dd class="col-sm-8">{{ trainingContent.pageType }}</dd>

                            <dt class="col-sm-4">Statut</dt>
                            <dd class="col-sm-8">{{ trainingContent.pageStatus }}</dd>

                            <dt class="col-sm-4">Responsable éditorial</dt>
                            <dd class="col-sm-8"><a class="btn btn-sm btn-secondary" ui-sref="transcript.app.content({id: trainingContent.editorialResponsibility.id})">{{ trainingContent.editorialResponsibility.name }}</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
