<div class="jumbotron">
    <p>Edition du profil</p>
</div>
<div ncy-breadcrumb></div>

<div flash-alert active-class="in alert" class="fade" duration="5000">
    <!-- Manually hide the alert with `hide()` -->
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message">{{flash.message}}</span>
</div>

<form class="form-horizontal">
    <div class="form-group">
        <label for="app_user_change_password_current_password" class="control-label col-sm-3">Current</label>
        <div class="col-sm-9">
            <input type="password" data-ng-model="form.current_password" class="form-control" id="app_user_change_password_current_password" name="app_user_change_password_current_password" placeholder="Type your current password" required />
        </div>
    </div>
    <div class="form-group">
        <label for="app_user_change_password_plain_password_first" class="control-label col-sm-3">New</label>
        <div class="col-sm-9">
            <input type="password" data-ng-model="form.password.first" class="form-control" id="app_user_change_password_plain_password_first" name="app_user_change_password_plain_password_first" placeholder="Type your new password" required />
        </div>
    </div>
    <div class="form-group">
        <label for="app_user_change_password_plain_password_second" class="control-label col-sm-3">Confirmation</label>
        <div class="col-sm-9">
            <input type="password" data-ng-model="form.password.second" class="form-control" id="app_user_change_password_plain_password_second" name="app_user_change_password_plain_password_second" placeholder="Confirm your new password" required />
        </div>
    </div>

    <div class="text-center"><button type="submit" data-ng-click="submit.action()" class="btn btn-primary">Edit password <i data-ng-if="submit.isLoading == true" class="fa fa-spin fa-circle-o-notch"></i></button></div>
</form>