<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-1 text-center">
                <div class="thumbnail">
                    <img src="./web/test/images/soldat-portrait.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-sm-11">
                <h3>Testament de <a ui-sref="app.thesaurus.view({type: 'testators', id: entity.will.testator.id})">{{ entity.will.testator.name }}</a></h3>
                <p>
                    {{ entity.will.testator.death_mention }} le {{ entity.will.testator.date_of_death | classicDate }} | <a ui-sref="app.thesaurus.view({type: 'places', id: entity.will.testator.place_of_death.id})">{{ entity.will.testator.place_of_death.name }}</a><span ng-if="entity.will.testator.place_of_death.country != null">, {{ entity.will.testator.place_of_death.country }}</span><br />
                    Testament rédigé le {{ entity.will.will_writing_date | classicDate }} | <a ui-sref="app.thesaurus.view({type: 'places', id: entity.will.will_writing_place.id})">{{ entity.will.will_writing_place.name }}</a><span ng-if="entity.will.will_writing_place.country != null">, {{ entity.will.will_writing_place.country }}</span><br />
                    Cote aux {{ entity.will.hosting_organization | organisationName }} {{ entity.will.call_number }}, minute du {{ entity.will.minute_date | classicDate }}<br />
                    {{ entity.will.phys_desc_support }}, {{ entity.will.phys_desc_hand }}, {{ entity.will.phys_desc_height }}x{{ entity.will.phys_desc_width }}, {{ entity.resources.length }} pages.
                </p>
            </div>
        </div>
    </div>
</div>