<div class="row mb-3">
    <div class="col-lg-1 col-2 pr-0"><img class="img-fluid" src="./web/images/default-testator.png"/></div>
    <div class="col-lg-11 col-10 pl-4">
        <div class="mb-1">Testament de <a class="big" href="" ui-sref="transcript.app.taxonomy.view({type: 'testators', id: entity.will.testator.id})">{{ entity.will.testator.name }}</a></div>
        <p>
            {{ entity.will.testator.deathMention }} le {{ entity.will.testator.dateOfDeath | classicDate }} <span class="text-danger">|</span> <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: entity.will.testator.placeOfDeath.id})">{{ entity.will.testator.placeOfDeath.name }}</a><span ng-if="entity.will.testator.placeOfDeath.country != null">, {{ entity.will.testator.placeOfDeath.country }}</span><br />
            Testament rédigé le {{ entity.will.willWritingDate | classicDate }} <span class="text-danger">|</span> <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: entity.will.willWritingPlace.id})">{{ entity.will.willWritingPlace.name }}</a><span ng-if="entity.will.willWritingPlace.country != null">, {{ entity.will.willWritingPlace.country }}</span><br />
            Cote aux {{ entity.will.hostingOrganization | organisationName }} <a href="" target="_blank" class="big">{{ entity.will.callNumber }}, minute du {{ entity.will.minuteDate | classicDate }}</a><br />
            {{ entity.will.physDescSupport }}, {{ entity.will.physDescHand }}, {{ entity.will.physDescHeight }}x{{ entity.will.physDescWidth }}, {{ entity.resources.length }} pages.
        </p>
    </div>
</div>