<div class="jumbotron">
    <h1 data-ng-if="content.title != null && content.title != ''">{{ content.title }}</h1>
    <h1 data-ng-if="content.title == null || content.title == ''">Nouveau contenu</h1>
</div>
<div ncy-breadcrumb></div>

<div flash-alert active-class="in alert" class="fade" duration="5000">
    <!-- Manually hide the alert with `hide()` -->
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <div data-ng-bind-html="flash.message"></div>
</div>

<form class="form-horizontal">
    <div class="col-sm-8">
        <div class="form-group">
            <label for="admin-content-edit-title" class="control-label col-sm-3">Titre :</label>
            <div class="col-sm-9">
                <input id="admin-content-edit-title" type="text" class="form-control" data-ng-model="content.title" />
                <p class="help-block">Optez pour un titre clair, décrivant précisément votre contenu et comportant des mots-clés signifiant si vous publiez un article.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="admin-content-edit-tags" class="control-label col-sm-3">Tags :</label>
            <div class="col-sm-9">
                <input id="admin-content-edit-tags" type="text" class="form-control" data-ng-model="content.tags" />
                <p class="help-block">Séparez vos tags par une virgule</p>
            </div>
        </div>
        <div class="form-group">
            <label for="admin-content-edit-content" class="col-sm-12 sr-only">Contenu :</label>
            <div class="col-sm-12">
                <div id="admin-content-edit-content" ckeditor="options" data-ng-model="content.content"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="admin-content-edit-type" class="control-label col-sm-3">Type :</label>
            <div class="col-sm-9">
                <select id="admin-content-edit-type" name="admin-content-edit-type" class="form-control" data-ng-model="content.type">
                    <option value="" disabled>Sélectionnez ...</option>
                    <option value="blogContent">Article de blog</option>
                    <option value="helpContent">Page d'aide</option>
                    <option value="staticContent">Page statique</option>
                </select>
            </div>
        </div>
        <div class="form-group" data-ng-if="content.type == 'staticContent'">
            <label for="admin-content-edit-onHomepage" class="control-label col-sm-3">Publié en page d'accueil :</label>
            <div class="col-sm-9">
                <select id="admin-content-edit-onHomepage" name="admin-content-edit-onHomepage" class="form-control" data-ng-model="content.onHomepage">
                    <option value="" disabled>Sélectionnez ...</option>
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="admin-content-edit-status" class="control-label col-sm-3">Statut :</label>
            <div class="col-sm-9">
                <select id="admin-content-edit-status" name="admin-content-edit-status" class="form-control" data-ng-model="content.status">
                    <option value="" disabled>Sélectionnez ...</option>
                    <option value="draft">Brouillon</option>
                    <option value="public">Public</option>
                    <option value="private">Privé</option>
                    <option value="notIndexed">Non indexé</option>
                </select>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label for="admin-content-edit-image" class="col-sm-12">Image d'illustration :</label>
            <div class="col-sm-12">
                <input id="admin-content-edit-image" type="url" class="form-control" data-ng-model="content.illustration" />
                <p class="help-block">Spécifiez l'URL de votre image</p>
                <img src="{{ content.illustration }}" class="thumbnail" style="max-height: 200px; max-width: 200px" alt="Prévisualisation de votre image" title="Prévisualisation de votre image" data-ng-if="content.illustration != '' && content.illustration != null" />
            </div>
        </div>

        <hr />

        <div class="form-group" data-ng-if="content.id != null">
            <label for="admin-content-edit-updateComment" class="control-label col-sm-3">Qu'avez-vous modifié ?</label>
            <div class="col-sm-9">
                <input id="admin-content-edit-updateComment" type="text" class="form-control" data-ng-model="content.updateComment" />
            </div>
        </div>
        <div>
            <button data-ng-if="submit.success == false" class="btn btn-block btn-lg btn-primary" type="button" data-ng-click="submit.action()">Submit <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
            <button data-ng-if="submit.success == true" class="btn btn-block btn-lg btn-success" type="button" data-ng-click="submit.action()">Success !</button>
        </div>

        <hr data-ng-if="content.id !== null" />

        <div data-ng-if="content.id !== null" class="panel panel-info" style="margin-top: 20px;">
            <div class="panel-heading">
                <h3 class="panel-title">Info area</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Contenu en ligne</dt>
                    <dd><a ui-sref="transcript.app.content({id: content.id})">Voir</a></dd>
                </dl>
            </div>
        </div>

        <div data-ng-if="content.id !== null" class="panel panel-danger" style="margin-top: 20px;">
            <div class="panel-heading">
                <h3 class="panel-title">Danger area</h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Remove content</dt>
                    <dd><button class="btn btn-danger" type="button" data-mw-confirm-click="remove.action()" data-mw-confirm-click-message="Êtes-vous sûr de vouloir supprimer ce contenu ?">Delete <i data-ng-if="remove.loading == false" class="fa fa-remove"></i><i data-ng-if="remove.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button></dd>
                </dl>
            </div>
        </div>
    </div>
</form>