<div ncy-breadcrumb></div>
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right" data-ng-if="isAdmin() == true">
                <a class="btn btn-default" ui-sref="admin.content.edit({id: content.id})"><i class="fa fa-edit"></i> Editer cette page</a>
            </div>
            <strong>{{ content.type | contentTypeName}}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ content.illustration }}" class="img-responsive" alt="Illustration de {{ content.title }}" title="{{ content.title }}" data-ng-if="content.illustration != '' && content.illustration != null" />

            <div data-ng-if="content.tags.length > 0">
                <span class="label label-info" data-ng-repeat="tag in content.tags">{{ tag }}</span>
            </div>
        </div>
        <div class="col-sm-9">
            <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
                <!-- Manually hide the alert with `hide()` -->
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <span class="alert-message" data-ng-bind-html="flash.message"></span>
            </div>

            <h2>{{ content.title }}</h2>
            <div class="well well-sm">
                <div class="pull-right">
                    <p>Publié le <span data-ng-bind="content.create_date |  date:'MM/dd/yyyy à HH:mm'"></span></p>
                </div>
                <strong><a ui-sref="app.user.profile({id: content.user_name.id})">{{ content.create_user.name }}</a></strong>
            </div>
            <div data-ng-bind-html="content.content"></div>
            <div data-ng-if="content.type == 'blogContent'">
                <hr />
                <div ui-view="comment"></div>
            </div>
        </div>
    </div>
</div>



