<ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="#">Les hommes</a></li>
    <li role="presentation"><a href="#">Les lieux</a></li>
    <li role="presentation"><a href="#">Les régiments</a></li>
    <li role="presentation" ng-if="user.roles | contains:'ROLE_TAXONOMY_EDIT'"><a ui-sref="transcript.app.taxonomy.create({type: entity.dataType})"><i class="fa fa-plus"></i></a></li>
</ul>
<div class="alert alert-warning" data-ng-if="entities.length == 0">
    <p><i class="fa fa-warning"></i> Cette liste de notices descriptives ne compte aucune entrée pour le moment.</p>
</div>
<ul data-ng-if="entities.length > 0" class="list-unstyled">
    <li data-ng-repeat="iEntity in entities">
        <a data-ng-if="iEntity.id != entity.id" ui-sref="transcript.app.taxonomy.view({type: entity.dataType, id: iEntity.id})">{{ iEntity.name }}</a>
        <span data-ng-if="iEntity.id == entity.id">{{ iEntity.name }}</span>
    </li>
</ul>