<div class="form-row">
    <div class="form-group col-md-12">
        <label for="app-entity-edit-name" class="form-control-label">Nom</label>
        <input id="app-entity-edit-name" class="form-control form-control-sm" data-ng-model="entity.name" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="app-entity-edit-country" class="form-control-label">Pays</label>
        <input id="app-entity-edit-country" class="form-control form-control-sm" data-ng-model="entity.country" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="app-entity-edit-army-corps" class="form-control-label">Corps d'armée</label>
        <input id="app-entity-edit-army-corps" class="form-control form-control-sm" data-ng-model="entity.armyCorps" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="app-entity-edit-regiment-number" class="form-control-label">Numéro de régiment</label>
        <input id="app-entity-edit-regiment-number" class="form-control form-control-sm" data-ng-model="entity.regimentNumber" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="app-entity-edit-description" class="form-control-label">Description :</label>
        <textarea id="app-entity-edit-description" class="form-control form-control-sm" data-ng-model="entity.description"></textarea>
    </div>
</div>
<div class="form-row" data-ng-if="context == 'edit'">
    <div class="form-group col-md-12">
        <label for="app-entity-edit-updateComment" class="form-control-label">Commentaire de modification</label>
        <input id="app-entity-edit-updateComment" class="form-control form-control-sm" data-ng-model="entity.updateComment" />
    </div>
</div>

<button data-ng-click="submit.action()" type="submit" class="btn btn-sm btn-primary">Soumettre <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>

<div class="clearfix"></div>