<div class="form-row">
    <div class="form-group col-md-6">
        <label for="app-entity-edit-name" class="form-control-label">Nom complet</label>
        <input id="app-entity-edit-name" class="form-control form-control-sm" data-ng-model="entity.name" />
    </div>

    <div class="form-group col-md-6">
        <label for="app-entity-edit-surname" class="form-control-label">Nom de famille</label>
        <input id="app-entity-edit-surname" class="form-control form-control-sm" data-ng-model="entity.surname" />
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="app-entity-edit-firstnames" class="form-control-label">Prénoms</label>
        <input id="app-entity-edit-firstnames" class="form-control form-control-sm" data-ng-model="entity.firstnames" />
    </div>

    <div class="form-group col-md-6">
        <label for="app-entity-edit-profession" class="form-control-label">Profession</label>
        <input id="app-entity-edit-profession" class="form-control form-control-sm" data-ng-model="entity.profession" />
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="app-entity-edit-address" class="form-control-label">Adresse</label>
        <input id="app-entity-edit-address" class="form-control form-control-sm" data-ng-model="entity.address" />
    </div>

    <div class="form-group col-md-6">
        <label for="app-entity-edit-dateOfBirth" class="form-control-label">Date de naissance</label>
        <input id="app-entity-edit-dateOfBirth" class="form-control form-control-sm" data-ng-model="entity.dateOfBirth" />
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="app-entity-edit-placeOfBirth" class="form-control-label">Lieu de naissance</label>
        <select class="custom-select form-control form-control-sm" id="app-entity-edit-placeOfBirth" data-ng-model="entity.placeOfBirth.id" name="app-entity-edit-placeOfBirth" data-ng-options="place.id as place.name for place in places"></select>
    </div>

    <div class="form-group col-md-6">
        <label for="app-entity-edit-dateOfDeath" class="form-control-label">Date de décès</label>
        <input id="app-entity-edit-dateOfDeath" class="form-control form-control-sm" data-ng-model="entity.dateOfDeath" />
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="app-entity-edit-placeOfDeath" class="form-control-label">Lieu de décès</label>
        <select class="custom-select form-control form-control-sm" id="app-entity-edit-placeOfDeath" data-ng-model="entity.placeOfDeath.id" name="app-entity-edit-placeOfDeath" data-ng-options="place.id as place.name for place in places"></select>
    </div>

    <div class="form-group col-md-6">
        <label for="app-entity-edit-deathMention" class="form-control-label">Mention de mort</label>
        <input id="app-entity-edit-deathMention" class="form-control form-control-sm" data-ng-model="entity.deathMention" />
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="app-entity-edit-memoireDesHommes" class="form-control-label">Lien vers Mémoire des Hommes</label>
        <input id="app-entity-edit-memoireDesHommes" class="form-control form-control-sm" data-ng-model="entity.memoireDesHommes" />
    </div>

    <div class="form-group col-md-6">
        <label for="app-entity-edit-regiment" class="form-control-label">Régiment</label>
        <select class="custom-select form-control form-control-sm" id="app-entity-edit-regiment" data-ng-model="entity.regiment.id" name="app-entity-edit-regiment" data-ng-options="regiment.id as regiment.name for regiment in regiments"></select>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="app-entity-edit-rank" class="form-control-label">Rang</label>
        <input id="app-entity-edit-rank" class="form-control form-control-sm" data-ng-model="entity.rank" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="app-entity-edit-description" class="form-control-label">Description</label>
        <textarea id="app-entity-edit-description" class="form-control form-control-sm" data-ng-model="entity.description"></textarea>
    </div>
</div>

<div class="form-row" data-ng-if="context == 'edit'">
    <div class="form-group col-md-12">
        <input id="app-entity-edit-updateComment" class="form-control form-control-sm" data-ng-model="entity.updateComment" />
    </div>
</div>

<button data-ng-click="submit.action()" class="btn btn-sm btn-primary" type="submit">Soumettre<i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>

<div class="clearfix"></div>