<div class="row mb-5">
    <div class="col-auto mr-auto">
        <h1 class="page-heading mb-0">{{ trainingContent.title }}</h1>
    </div>
    <div class="col-auto justify-content-end">
        <nav class="mt-4">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="btn btn-light" ui-sref="transcript.admin.training.edit({id: trainingContent.id})"><i class="fa fa-edit fa-lg"></i> Modifier</a>
                </li>
            </ul>
        </nav>
    </div>
</div>