<div>
    <div class="pull-right" ng-if="user.roles | contains:'ROLE_THESAURUS_EDIT'">
        <a class="btn btn-primary btn-sm" ui-sref="app.thesaurus.create({type: entity.dataType})"><i class="fa fa-plus"></i></a>
    </div>
    <h3>Liste des entrées</h3>
</div>
<ul data-ng-if="entities.length > 0">
   <li data-ng-repeat="iEntity in entities">
       <a data-ng-if="iEntity.id != entity.id" ui-sref="app.thesaurus.view({type: entity.dataType, id: iEntity.id})">{{ iEntity.name }}</a>
       <span data-ng-if="iEntity.id == entity.id">{{ iEntity.name }}</span>
   </li>
</ul>
<div class="alert alert-warning" data-ng-if="entities.length == 0">
    <p><i class="fa fa-warning"></i> Ce thesaurus ne compte aucune entrée pour le moment.</p>
</div>