<div class="form-group">
    <label for="app-entity-edit-name" class="control-label col-sm-3">Nom complet :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-name" class="form-control" data-ng-model="entity.name" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-surname" class="control-label col-sm-3">Nom de famille :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-surname" class="form-control" data-ng-model="entity.surname" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-firstnames" class="control-label col-sm-3">Prénoms :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-firstnames" class="form-control" data-ng-model="entity.firstnames" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-profession" class="control-label col-sm-3">Profession :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-profession" class="form-control" data-ng-model="entity.profession" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-address" class="control-label col-sm-3">Adresse :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-address" class="form-control" data-ng-model="entity.address" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-dateOfBirth" class="control-label col-sm-3">Date de naissance :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-dateOfBirth" class="form-control" data-ng-model="entity.date_of_birth" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-placeOfBirth" class="control-label col-sm-3">Lieu de naissance :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-placeOfBirth" class="form-control" data-ng-model="entity.place_of_birth" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-dateOfDeath" class="control-label col-sm-3">Date de décès :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-dateOfDeath" class="form-control" data-ng-model="entity.date_of_death" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-placeOfDeath" class="control-label col-sm-3">Lieu de décès :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-placeOfDeath" class="form-control" data-ng-model="entity.place_of_death" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-deathMention" class="control-label col-sm-3">Mention de mort :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-deathMention" class="form-control" data-ng-model="entity.death_mention" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-memoireDesHommes" class="control-label col-sm-3">Lien vers Mémoire des Hommes :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-memoireDesHommes" class="form-control" data-ng-model="entity.memoire_des_hommes" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-regiment" class="control-label col-sm-3">Régiment :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-regiment" class="form-control" data-ng-model="entity.regiment" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-rank" class="control-label col-sm-3">Rang :</label>
    <div class="col-sm-9">
        <input id="app-entity-edit-rank" class="form-control" data-ng-model="entity.rank" />
    </div>
</div>
<div class="form-group">
    <label for="app-entity-edit-description" class="control-label col-sm-3">Description :</label>
    <div class="col-sm-9">
        <textarea id="app-entity-edit-description" class="form-control" data-ng-model="entity.description"></textarea>
    </div>
</div>
<div class="form-group" data-ng-if="context == 'edit'">
    <br />
    <label for="app-entity-edit-updateComment" class="control-label col-sm-3">Commentaire d'édition :</label>
    <div class="col-sm-9">
        <textarea id="app-entity-edit-updateComment" class="form-control" data-ng-model="entity.update_comment"></textarea>
    </div>
</div>
<div class="text-center">
    <button data-ng-click="submit.action()" class="btn btn-primary">Submit <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
</div>