<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>
<main class="container" role="main">
    <h1 class="page-heading">Page de connexion</h1>
    <form class="mt-2 mb-5">
        <div class="form-group row">
            <label for="app-security-login-login" class="col-lg-2 col-md-3 col-12 col-form-label text-md-right">Email</label>
            <div class="col-lg-8 col-md-9 col-12">
                <input type="email" data-ng-model="form.username" class="form-control form-control-sm" id="app-security-login-login" name="app-security-login-login" placeholder="Saisissez votre adresse email" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="app-security-login-password" class="col-lg-2 col-md-3 col-12 col-form-label text-md-right">Mot de passe</label>
            <div class="col-lg-8 col-md-9 col-12">
                <input type="password" data-ng-model="form.password" class="form-control form-control-sm" id="app-security-login-password" name="app-security-login-login" placeholder="Saisissez votre mot de passe" required />
            </div>
        </div>
        <div class="row text-right">
            <div class="col-lg-10 col-12">
                <button type="submit" data-ng-click="submit.action()" class="btn btn-sm btn-primary">S'identifier <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
                <small class="form-text"><a class="text-muted" ui-sref="transcript.app.security.resetting.request">Mot de passe oublié</a></small>
            </div>
        </div>
    </form>
</main>