<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading">Demande d'accès</h1>
    <div class="row">
        <div class="col-sm-12" ng-if="preferences.taxonomyEditAccess == 'controlledAuthorization'">
            <form ng-if="context == 'ask'">
                <div class="form-group">
                    <label for="app-taxonomy-ask-request">Pouvez-vous détailler vos connaissances ?</label>
                    <textarea type="text" class="form-control" rows="3" data-ng-model="form.taxonomyRequest"  id="app-taxonomy-ask-request" required ></textarea>
                </div>

                <button type="submit"  data-ng-click="submit.action()" class="btn btn-primary ">Soumettre ma demande <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
            </form>

            <div class="card" ng-if="context == 'sent'" >
                <div class="card-body">
                    <h3 class="card-title">Requête envoyée</h3>
                    <p>Merci pour votre participation !<br />Votre requête a bien été envoyée. Elle sera examinée par un administrateur dans les meilleurs délais. Vous recevrez un email à l'issue de son traiement.</p>
                    <a class="btn btn-secondary" ui-sref="transcript.app.taxonomy.home">Retour</a>
                </div>
            </div>

            <div class="alert alert-info" ng-if="context == 'review'">
                <p>Votre demande d'accès à la contribution aux notices descriptives est en cours de validation.</p>
            </div>
        </div>
        <div class="col-sm-12" ng-if="preferences.taxonomyEditAccess == 'selfAuthorization'">
            <button type="submit"  data-ng-click="submit.action()" class="btn btn-primary ">Accéder à l'éditio, ma demande <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
        </div>
    </div>
</main>