footer {
    background-color: #FFF;
    border-top: solid 2px #000;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #000)) 21 30 30 21 repeat repeat;
}