<div class="jumbotron">
    <div class="pull-right">
        <div class="thumbnail">
            <img data-ng-if="iUser.picture == null || iUser.picture == ''" class="img-responsive img-100" src="{{ webapp.resources }}images/no-images.png" />
            <img data-ng-if="iUser.picture != null && iUser.picture != ''" class="img-responsive img-100" src="{{ iUser.picture }}" />
        </div>
    </div>
    <div>
        <h1>{{ iUser.name }} <a data-ng-if="context != 'self'" class="btn btn-default" title="Send a private message"><i class="fa fa-send"></i></a></h1>
        <div><span data-ng-repeat="role in iUser.roles" class="label label-info">{{ role }}</span></div>
    </div>
</div>
<div ncy-breadcrumb></div>

<div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
    <!-- Manually hide the alert with `hide()` -->
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message" data-ng-bind-html="flash.message"></span>
</div>

<div class="row" data-ng-if="context == 'self' || context == 'admin'">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a ui-sref="app.user.edit({id: iUser.id})">
                    <span data-ng-if="context == 'self'">Éditer mon profil</span>
                    <span data-ng-if="context == 'admin'">Éditer le profil</span>
                </a>
            </li>
            <li class="list-group-item">
                <a ui-sref="app.user.preferences({id: iUser.id})">
                    <span data-ng-if="context == 'self'">Éditer mes préférences</span>
                    <span data-ng-if="context == 'admin'">Éditer les préférences</span>
                </a>
            </li>
            <li class="list-group-item" data-ng-if="context == 'self'">
                <a>
                    Mes messages <span class="label label-info">0</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9" data-ng-include="'App/User/Profile/tpl/profile-public.html'"></div>
</div>
<div class="row" data-ng-if="context == 'view'">
    <div class="col-sm-12" data-ng-include="'App/User/Profile/tpl/profile-public.html'"></div>
</div>