<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>
<main class="container" role="main">
    <h1 class="page-heading">Administration</h1>
    <div class="row m-2">
        <div class="col-sm-4 mb-5">
            <h2>Gestion des contenus </h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a ui-sref="transcript.admin.content.new">Ajouter un contenu</a></li>
                <li class="list-group-item"><a ui-sref="transcript.admin.content.list">Liste des contenus</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mb-5">
            <h2 >Gestion des entités </h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a ui-sref="transcript.admin.entity.list">Liste des entités</a></li>
                <li class="list-group-item"><a ui-sref="transcript.admin.entity.import">Importer une entité</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mb-5">
            <h2>À propos de la plateforme</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a ui-sref="transcript.admin.preference">Modifier les paramètres</a></li>
                <li class="list-group-item"><a>Statistiques de transcription</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mb-5">
            <h2 >Utilisateurs</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a ui-sref="transcript.admin.user.list">Liste des utilisateurs</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mb-5">
            <h2 >Notices descriptives</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-if="preferences.taxonomyEditAccess == 'controlledAuthorization'"><a ui-sref="transcript.admin.taxonomy.access">Demandes d'accès <span class="badge bg-info" ng-bind="(accesses|filterTaxonomyAsk).length"></span></a></li>
                <li class="list-group-item"><a ui-sref="transcript.admin.taxonomy.logs">Historique des modifications</a></li>
            </ul>
        </div>
    </div>
</main>