<div class="jumbotron">
    <p>Edition du profil</p>
</div>
<div ncy-breadcrumb></div>

<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item"><a ui-sref="transcript.app.user.changePassword({id: user.id})">Modifier mon mot de passe</a></li>
            <li class="list-group-item"><a>Modifier mon identifiant</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div flash-alert data-active-class="in alert" class="fade" data-duration="5000">
            <!-- Manually hide the alert with `hide()` -->
            <button type="button" class="close" data-ng-click="hide()">&times;</button>
            <span class="alert-message" data-ng-bind-html="flash.message"></span>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="app_user_edit_name" class="control-label col-md-3">Name</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="form.name" class="form-control" id="app_user_edit_name" placeholder="Your name" required />
                </div>
            </div>
            <div class="form-group">
                <label for="app_user_edit_biography" class="control-label col-md-3">Bio</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="form.biography" class="form-control" id="app_user_edit_biography" placeholder="A short biography ?" />
                </div>
            </div>
            <div class="form-group">
                <label for="app_user_edit_picture" class="control-label col-md-3">Picture</label>
                <div class="col-md-9">
                    <input type="url" data-ng-model="form.picture" class="form-control" id="app_user_edit_picture" placeholder="A link to your picture" />
                </div>
            </div>

            <div class="text-center"><button type="submit" data-ng-click="submit.action()" class="btn btn-primary">Edit <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button></div>
        </form>
    </div>
</div>