<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading">Modification du profil</h1>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item"><a ui-sref="transcript.app.user.changePassword({id: user.id})">Modifier mon mot de passe</a></li>
                <li class="list-group-item"><a>Modifier mon identifiant</a></li>
                <li class="list-group-item"><a ui-sref="transcript.app.user.avatar({id: user.id})">Modifier mon avatar</a></li>
            </ul>
        </div>
        <div class="col-lg-7 col-md-9">
            <form class="mt-2 mb-2">
                <div class="form-group row">
                    <label for="app-user-edit-name" class="control-label col-md-2 text-md-right">Nom</label>
                    <div class="col-md-10">
                        <input type="text" data-ng-model="form.name" class="form-control form-control-sm" id="app-user-edit-name" placeholder="Saissisez votre nom" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="app-user-edit-biography" class="control-label col-md-2 text-md-right">Biographie</label>
                    <div class="col-md-10">
                        <textarea data-ng-model="form.biography" class="form-control form-control-sm" id="app-user-edit-biography" placeholder="Présentez-vous"></textarea>
                    </div>
                </div>

                <div class="text-right"><button type="submit" data-ng-click="submit.action()" class="btn btn-sm  btn-primary">Modifier <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button></div>
            </form>
        </div>
    </div>
</main>
