<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading">Liste des contenus</h1>
    <div class="row">
        <div class="col-xl-10 col-12">
            <table class="table table-sm table-bordered">
                <caption><a ui-sref="transcript.admin.training.new">Ajouter un nouvel élément</a><span ng-if="trainingContents.length > 0"> - <a ui-sref="transcript.admin.training.list">Accéder à tous les éléments</a></span></caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="trainingContent in trainingContents">
                    <td>{{ $index+1 }}</td>
                    <td><a ui-sref="transcript.admin.training.edit({id: trainingContent.id})"><i class="fa fa-edit"></i></a></td>
                    <td><a ui-sref="transcript.admin.training.view({id: trainingContent.id})">{{ trainingContent.title }}</a></td>
                    <td>{{ trainingContent.pageType }}</td>
                    <td>{{ trainingContent.pageStatus }}</td>
                    <td>{{ trainingContent.createUser.name }}</td>
                    <td data-ng-bind="trainingContent.createDate | date:'dd-MM-yyyy HH:mm'"></td>
                </tr>
                <tr ng-if="trainingContents.length == 0">
                    <td colspan="7" class="bg-warning">Aucun contenu d'entrainement n'existe pour le moment. <a ui-sref="transcript.admin.training.new">Commencer à configurer le module d'entrainement</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
