#comment-thread #comment-thread-contribute #comment-thread-contribute-form #comment-thread-contribute-form-footer {
    text-align: right;
    margin-bottom: 2rem;
}

.cke_top{
    background: #dadada!important;
}
.cke_reset{
    border: none!important;
}