<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading">Liste des contenus</h1>
    <div class="row">
        <div class="col-xl-10 col-12">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>#</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="content in contents">
                    <td>{{ $index+1 }}</td>
                    <td><a ui-sref="transcript.admin.content.edit({id: content.id})"><i class="fa fa-edit"></i></a></td>
                    <td><a ui-sref="transcript.app.content({id: content.id})">{{ content.title }}</a></td>
                    <td>{{ content.type }}</td>
                    <td>{{ content.status }}</td>
                    <td>{{ content.author.name }}</td>
                    <td data-ng-bind="content.createDate | date:'dd-MM-yyyy HH:mm'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
