<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Admin toolbar</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a data-ng-click="admin.export.load()">Export <i data-ng-if="admin.export.show == false" class="fa fa-caret-down"></i><i data-ng-if="admin.export.show == true" class="fa fa-caret-up"></i></a></li>
        </ul>
    </div>
</nav>

<div data-ng-if="admin.export.show == true">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3>Exporter le document transcrit :</h3>
                <button data-ng-if="admin.export.submit.result == false" type="button" data-ng-click="admin.export.submit.action()" class="btn btn-primary">
                    <span data-ng-if="admin.export.submit.loading == false">Générer la transcription</span>
                    <span data-ng-if="admin.export.submit.loading == true">Chargement <i class="fa fa-spin fa-circle-o-notch"></i></span>
                </button>
                <a href="{{ admin.export.submit.content }}" target="_blank" data-ng-if="admin.export.submit.result == true">Télécharger la transcription</a>
            </div>
        </div>
    </div>
</div>