<div>
    <div class="pull-right">
        <a class="btn btn-default btn-sm" ui-sref="app.search"><i class="fa fa-search"></i> Autres testaments</a>
        <a class="btn btn-warning btn-sm" data-ng-if="isAdmin() == true" ui-sref="admin.entity.edit({id: entity.id})"><i class="fa fa-edit"></i> Modifier</a>
    </div>
    <h1>{{ entity.will.title }}</h1>
</div>

<div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
    <!-- Manually hide the alert with `hide()` -->
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message" data-ng-bind-html="flash.message"></span>
</div>